<!DOCTYPE html>
<html>
<head>
	<title>Analysis</title>
	<meta charset="utf-8">
	  {% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="header">
			<div class="strip-info">

				<p>
					<i class="fa fa-mobile">

					:</i>
					+91 870 286 5182, 83
					<i class="fa fa-envelope-o">:</i>
					<a href="mailto: info@vaagdevi.edu.in"> info@vaagdevi.edu.in</a>

				</p>
				<p class="right">
					<a href="#" style="color: #2d5faa;"> <i class="fa fa-facebook">&ensp;</i></a>
					<a href="#" style="color:#3ba3f3;">  <i class="fa fa-twitter">&ensp;</i></a>
					<a href="#" style="color:#f33b3b;"><i class="fa fa-google-plus">&ensp;</i></a>
				</p>
			</div>

<div class="strip-info_1">
{% load static %}
<img src="{% static 'images/logo.png' %}" style="width: 22vw;position: absolute;top: 23%; left: 15%;">
<img src="{% static 'images/one.jpg' %}" style="width: 5.5vw;position: absolute;top: 22%; left: 60%;">
<img src="{% static 'images/nba.png' %}"style="width: 7vw;position: absolute;top: 19%; left: 65%;">
<img src="{% static 'images/three.jpg' %}" style="width: 7vw;position: absolute;top: 21%; left: 72%;">
</div>
<div class="strip-info_2">
	<ul style="margin-left: 13%; margin-top: 1%;">



		<li><a href=""><i class="fa fa-home" style="margin-left: %;">&ensp;Home</i></a></li>


		<li class="dropdown"><a href=""><i class="fa fa-eye" style="margin-left: %;"> &ensp;About  Us &ensp;</a></i>

		</li>



		<li><a href=""><i class="fa fa-cog" style="margin-left: %;"> &ensp;Academics &ensp; </i></a></li>
		<li><a href=""><i class="fa fa-bandcamp" style="margin-left: %;"> &ensp;Students &ensp; </i></a></li>
		<li><a href=""> <i class="fa fa-book" style="margin-left: %;"> &ensp;Branch &ensp; </i></a></li>
		<li><a href=""><i class="fa fa" style="margin-left: ;"> &ensp;Login &ensp; </i></a></li>

</ul>

</div>
</div>

<div class="sec">
	<div class="one">
		{% load static %}
		<img src="{% static 'images/cs.jpg' %}" style="width: 100%;">
		<ul ><li ><a href="" style="text-decoration: none;">COMPUTER SCIENCE ENGINEERING</a></li>
			<br>

			<br>
			<br>
			<br>
			<br>
			<br>
		</ul>
		<div class="one-one">
		<p style="marker-start: 2%;font-size: 1vw;background: #ffffff;"><a href=""><i class="fa fa-book" style="margin-left: 0;color:#000000;margin-top: 4%;"> &ensp;More Details &ensp;+ </i></a></p></div>
	</div>
	<div class="two">
			{% load static %}
			<img src="{% static 'images/ee.jpg' %}" style="width: 100%;">
			<ul ><li ><a href="" style="text-decoration: none;">ELECTRICAL ENGINEERING</a></li>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</ul>
		<div class="one-one">
		<p style="marker-start: 2%;font-size: 1vw;background: #ffffff;"><a href=""><i class="fa fa-book" style="margin-left: 0;color:#000000;margin-top: 4%;"> &ensp;More Details &ensp;+ </i></a></p></div>
	</div>

<div class="three">
			{% load static %}
			<img src="{% static 'images/ec.jpg' %}" style="width: 100%;">
			<ul ><li ><a href="" style="text-decoration: none;">ELECTRICAL & ELECTRONICAL ENGINEERING</a></li>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

		</ul>
		<div class="one-one">
		<p style="marker-start: 2%;font-size: 1vw;background: #ffffff;"><a href=""><i class="fa fa-book" style="margin-left: 0;color:#000000;margin-top: 4%;"> &ensp;More Details &ensp;+ </i></a></p></div>

	</div>
	<div class="four">
			{% load static %}
			<img src="{% static 'images/me.jpg' %}" style="width: 100%;">
			<ul ><li ><a href="" style="text-decoration: none;">MECHANICAL ENGINEERING</a></li>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</ul>
		<div class="one-one">
		<p style="marker-start: 2%;font-size: 1vw;background: #ffffff;"><a href=""><i class="fa fa-book" style="margin-left: 0;color:#000000;margin-top: 4%;"> &ensp;More Details &ensp;+ </i></a></p></div>

	</div>


</div>







<footer>
</div>
	<div class="footer5">

		<p>© 2018. www.vaagdevi.edu.in. All Rights Reserved.</p>
		<ul>
			<li><a href="">Home</a>&ensp;&ensp;</li>
			<li><a href="">Events</a>&ensp;&ensp;</li>
			<li><a href="">News</a>&ensp;&ensp;</li>
			<li><a href="">Contacts</a>&ensp;&ensp;</li>
		</ul>
	</div>


</footer>

</body>
</html>
